# Ignorar archivos temporales y entornos virtuales
__pycache__/
*.pyc
*.pyo
*.log
*.zip
*.bak
.DS_Store
.idea/
.vscode/
node_modules/
.env/
.venv/
.cache/
.local/
odoo-venv/

# NO ignores los archivos XML ni Python reales del proyecto
# (Quita reglas generales como *.xml o *.py si las tienes en otro lado)
